@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

@import url('./components/Navbar/navbar.css');
@import url('./components/UserNav/usernav.css');
@import url('./components/SingleEvent/singleEvent.css');
@import url('./components/Hero/hero.css');
@import url('./misc/styles/userEvents.css');
@import url('./misc/styles/categoryGrid.css');
@import url('./misc/styles/shoppingCart.css');

.pages {
	/* padding: 35px 20%; */
	width: 85vw;
	margin: 0 auto;
}

.heading {
	font-family: 'Lato', sans-serif;
	font-size: 2em;
	font-weight: 700;
	letter-spacing: -1.5px;
}

.headings {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 230px;
}

.inputField {
	width: 100%;
	min-width: 70px;
	border: 1px solid black;
	padding: 6px 20px;
	border-radius: 40px;
	font-size: 0.9em;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	letter-spacing: -1px;
	color: black;
}

/* napraj mesto */

.form {
	width: 260px;
}

.form div {
	width: 100%;
}

.form label {
	display: block;
	width: 100%;
	font-size: 0.8em;
	letter-spacing: -1px;
	font-weight: 700;
	margin: 10px 0 5px 0;
}

.form input,
.form select {
	/* min-width: 200px; */
	width: 100%;
	border: 1px solid black;
	padding: 6px 20px;
	border-radius: 40px;
	font-size: 0.9em;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	letter-spacing: -1px;
	color: black;
}
.form select {
	background-color: transparent;
}

.form textarea {
	width: 100%;
	height: 50%;
	border: 1px solid black;
	padding: 6px 20px;
	border-radius: 10px;
	font-size: 0.9em;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	letter-spacing: -1px;
	color: black;
}

.form input[type='submit'] {
	border: 1px solid #ff48ab;
	background-color: #ff48ab;
	/* background-color: transparent; */
	margin: 15px 0;
	color: white;
	cursor: pointer;
	transition: all 0.2s ease;
}

.form input[type='submit']:hover {
	color: black;
	background-color: white;
}

.form a {
	display: block;
	text-align: center;
	text-decoration: none;
	/* min-width: 200px;
	width: 260px; */
	border: 1px solid #ff48ab;
	border-radius: 40px;
	background-color: white;
	margin: 15px 0;
	padding: 6px 20px;

	font-size: 0.9em;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	letter-spacing: -1px;

	color: black;
	cursor: pointer;
	transition: all 0.2s ease;
}

.form a:hover {
	text-decoration: underline;
}
.formBottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.formBottom .forgotPass {
	display: inline-block;
	border: none;
	text-decoration: underline;
	padding: 0;
}

/* Ова да го сменам */
.formBottom .login {
	width: 100px !important;
}
.form .error {
	display: inline-block;
	margin-left: 10px;
	font-size: 0.7em;
	color: red;
}

/* Events form */

.form .eventInputs {
	display: flex;
	gap: 20px;
	max-height: 255px;
}

.form .userDetails {
	display: flex;
}

.form .userDetails .avatar {
	flex: 0;
	margin-left: 30px;
}

.form .userInputs .inputContainer .imageContainer {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	margin: 0 auto;
}

.form .userInputs .inputContainer .uploadButton,
.form .userInputs .inputContainer .maskButton {
	margin-top: 10px;
}

.form .userDetails .info .fullName label {
	/* left: 40%; */
	margin: 0px 0 18px 0;
	font-size: 1em;
	font-weight: 400;
}

.form .userDetails .info .email label {
	margin: 18px 0 10px 0;
	font-size: 1em;
	font-weight: 400;
}

.form .userSubmit input[type='submit'] {
	width: 100px;
	margin-left: 30px;
	border: 1px solid black;
	background-color: black;
	color: white;
}
.form .userSubmit input:hover {
	background-color: white;
	color: black;
}
/* .userDetailsButton {
	width: 60%;
	margin-left: 30px;
} */

/* .inputContainer {
	margin: 0 10px;
} */

/* .inputContainer:last-child {
	margin: 0;
	margin-left: 30px;
} */

.cardBottom {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
}

/* TEST ZA CATEGORII */
/* .category .eventsContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.category .eventsContainer .eventCard {
	padding: 10px;
	width: 48%;
	margin: 5px 0;
} */

/* Home page */

.events {
	display: flex;
	justify-content: space-between;
}

.homeMusicEvents,
.homeComedyEvents {
	padding: 10px;
}

.eventCard {
	display: flex;
	margin: 30px 0;
}

.eventImageContainer {
	min-width: 250px;
	height: 140px;
	max-height: 150px;
	border-radius: 20px;
	background-color: black;
	overflow: hidden;
}

.eventImageContainer img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.eventInfo {
	/* width: 90%; */
	display: flex;
	margin-left: 20px;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
}

/* uploadButton */
.inputContainer {
	position: relative;
}

.imageLabel {
	color: white;
	position: absolute;
	text-align: center;
	/* background-color: black; */

	width: 85px;
	left: 50%;
	bottom: 5%;
	transform: translate(-50%, 5%);
	z-index: 8;
	cursor: pointer;
}
.uploadButton {
	margin-top: 25px;
	opacity: 0;
	cursor: pointer;
	position: relative;
	z-index: 9;
	background-color: transparent;
}

.maskButton {
	position: absolute;

	left: 0;
	bottom: 0px;
	cursor: pointer;

	background-color: black;
	color: white;
	z-index: 1;
}
.inputContainer .imageContainer {
	width: 100%;
	height: 200px;
}

/* single classes */
.text-white {
	color: white;
}

.text-center {
	text-align: center;
}

.tD-none {
	text-decoration: none;
}

.block {
	display: block;
}
.inlineBlock {
	display: inline-block;
}

.black-border {
	border: 1px solid black;
}

.black-background {
	background-color: black;
}

.black-background:hover {
	background-color: white;
}

.white-background {
	background-color: white;
}

.white-background:hover {
	background-color: black;
}

.border-radius-50 {
	border-radius: 50px;
}

.button-padding {
	padding: 6px 15px;
}

.whiteText {
	color: white;
}

.whiteText:hover {
	color: black;
}

.blackText {
	color: black;
}

.blackText:hover {
	color: white;
}

.purpleText {
	color: #ff48ab;
}

.boldText {
	font-weight: 600;
}

.smallText {
	font-size: 0.7em;
}
.mediumText {
	font-size: 0.9em;
}
.bigText {
	font-size: 1.2em;
}

.full-width {
	width: 100%;
}
.half-width {
	width: 50%;
}

.width-35per {
	width: 35%;
}

.width-150 {
	width: 150px;
}

.m-0 {
	margin: 0;
}
.ml-10 {
	margin-left: 10px;
}
.ml-35 {
	margin-left: 35px;
}
.mt-5 {
	margin-top: 5px;
}
.mt-10 {
	margin-top: 10px;
}
.mt-20 {
	margin-top: 20px;
}
.mt-50 {
	margin-top: 50px;
}
.mb-10 {
	margin-bottom: 10px;
}
.mb-20 {
	margin-bottom: 20px;
}
.mb-50 {
	margin-bottom: 50px;
}
.mb-15 {
	margin-bottom: 15px;
}
.flex {
	display: flex;
}

.flex-shrink {
	flex: 1 0;
}
.flex-grow {
	flex: 2 0;
}

.space-between {
	justify-content: space-between;
}
.align-center {
	align-items: center;
}

.gap-30 {
	gap: 30px;
}
.gap-20 {
	gap: 20px;
}

/* buttons */
.btn-blackToPurple {
	display: block;
	text-align: center;
	text-decoration: none;
	/* min-width: 200px;
	width: 260px; */
	border: none;
	border-radius: 40px;
	/* background-color: #ff48ab; */
	background-color: black;
	padding: 6px 20px;

	font-size: 0.9em;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	letter-spacing: -1px;

	color: white;
	cursor: pointer;
	transition: all 0.2s ease;
}
.btn-blackToPurple:hover {
	background-color: #ff48ab;
	color: white;
}
.btn-blackToTransparent {
	display: block;
	text-align: center;
	text-decoration: none;
	/* min-width: 200px;
	width: 260px; */
	border: 1px solid black;
	border-radius: 40px;
	/* background-color: #ff48ab; */
	background-color: black;
	padding: 6px 20px;

	font-size: 0.9em;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	letter-spacing: -1px;

	color: white;
	cursor: pointer;
	transition: all 0.2s ease;
}
.btn-blackToTransparent:hover {
	background-color: transparent;
	color: black;
}
.btn-purpleToWhite {
	display: block;
	text-align: center;
	text-decoration: none;
	/* min-width: 200px;
	width: 260px; */
	border: 1px solid #ff48ab;
	border-radius: 40px;
	background-color: #ff48ab;
	padding: 6px 20px;

	font-size: 0.9em;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	letter-spacing: -1px;

	color: white;
	cursor: pointer;
	transition: all 0.2s ease;
}

.btn-purpleToWhite:hover {
	background-color: transparent;
	color: black;
}
