@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

@import url('./components/Navbar/navbar.css');
@import url('./components/UserNav/usernav.css');

.pages {
	padding: 35px 12%;
}

.heading {
	font-family: 'Lato', sans-serif;
	font-size: 2em;
	font-weight: 700;
	letter-spacing: -1.5px;
}

.headings {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 230px;
}

.btn-purpleToWhite {
	display: block;
	text-align: center;
	text-decoration: none;
	/* min-width: 200px;
	width: 260px; */
	border: 1px solid #ff48ab;
	border-radius: 40px;
	background-color: #ff48ab;
	padding: 6px 20px;

	font-size: 0.9em;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	letter-spacing: -1px;

	color: white;
	cursor: pointer;
	transition: all 0.2s ease;
}

.btn-purpleToWhite:hover {
	background-color: transparent;
	color: black;
}

/* napraj mesto */

.form {
	width: 260px;
}

.form div {
	width: 100%;
}

.form label {
	display: block;
	width: 100%;
	font-size: 0.8em;
	letter-spacing: -1px;
	font-weight: 700;
	margin: 10px 0 5px 0;
}

.form input,
.form select {
	/* min-width: 200px; */
	width: 100%;
	border: 1px solid black;
	padding: 6px 20px;
	border-radius: 40px;
	font-size: 0.9em;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	letter-spacing: -1px;
	color: black;
}
.form select {
	background-color: transparent;
}

.form select * {
	background-color: transparent;
}

.form input[type='submit'] {
	/* width: 100px; */
	border: 1px solid #ff48ab;
	background-color: #ff48ab;
	margin: 15px 0;
	color: white;
	cursor: pointer;
	transition: all 0.2s ease;
}

.form input[type='submit']:hover {
	color: black;
	background-color: white;
}

.form a {
	display: block;
	text-align: center;
	text-decoration: none;
	/* min-width: 200px;
	width: 260px; */
	border: 1px solid #ff48ab;
	border-radius: 40px;
	background-color: white;
	margin: 15px 0;
	padding: 6px 20px;

	font-size: 0.9em;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	letter-spacing: -1px;

	color: black;
	cursor: pointer;
	transition: all 0.2s ease;
}

.form a:hover {
	text-decoration: underline;
}
.formBottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.formBottom .forgotPass {
	display: inline-block;
	border: none;
	text-decoration: underline;
	padding: 0;
}

/* Ова да го сменам */
.formBottom .login {
	width: 100px !important;
}
.form .error {
	display: inline-block;
	margin-left: 10px;
	font-size: 0.7em;
	color: red;
}

/* Events form */

.form .eventInputs {
	display: flex;
}

.inputContainer:nth-child(2) {
	margin: 0 50px;
}

.full-width {
	width: 100%;
}
